* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-color: #141921;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}

h1 {
  font-size: 3rem;
}

#span-title {
  font-size: 3rem;
}

h2,
p,
span {
  font-size: 1.2rem;
}

h3,
h4,
h5,
h6,
#contact-title {
  font-size: 2.5rem;
}

h3,
h4 {
  padding: 3rem 0;
}

.container {
  margin: 0 2rem;
  position: relative;
  width: 100%;
}

.light {
  background-color: #fff !important;
  color: black !important;
}

.nav-light {
  background-color: #fff;
}
.nav-light a {
  text-decoration: none;
  color: black;
}

.nav-black a {
  text-decoration: none;
  color: white;
}

.color-light {
  color: white;
}

.hover-light:hover {
  color: black !important;
}

.hover-dark:hover {
  color: white !important;
}

.button-header {
  background-color: #FF6F61;
  color: white;
  font-weight: 800;
}
.button-header:hover {
  background-color: #fa5c4e !important;
}

.inputs-dark {
  border: 1px solid transparent;
  background-color: #3b434e;
  color: #fff;
}
.inputs-dark:focus {
  border: 1px solid #fff;
}

.inputs-light {
  border: 1px solid transparent;
  background-color: rgba(133, 126, 126, 0.3490196078);
  color: black;
}
.inputs-light:focus {
  border: 1px solid black;
}

.hover-img-dark:hover {
  box-shadow: 1px 1px 9px white;
  border-radius: 20px;
}
.hover-img-dark:hover img {
  filter: brightness(0.1);
}

.hover-img-light:hover {
  box-shadow: 1px 1px 9px black;
  border-radius: 20px;
}
.hover-img-light:hover img {
  filter: opacity(0.2) blur(2px);
}

.btn-project {
  padding: 5px;
  border-radius: 16px;
  font-size: 1rem;
  width: 150px;
  font-weight: 900;
  border: none;
  background-color: #FF6F61;
  color: white;
}

.menu {
  display: none;
}

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15vh;
  z-index: 1;
}
#menu ul {
  width: 100%;
  height: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 2rem;
}
#menu ul li {
  width: 90%;
  padding: 1rem;
  text-align: center;
}
#menu ul li:hover {
  cursor: pointer;
}
#menu ul li a {
  text-decoration: none;
}
#menu ul div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.menu-black {
  background-color: #141921;
}
.menu-black ul li a {
  color: white;
}

.menu-light {
  background-color: white;
}
.menu-light ul li a {
  color: black;
}

.menu-hover:hover {
  font-weight: 900;
  transform: scale(1.2);
}
.menu-hover:hover a {
  color: #FF6F61;
}

#menu-icons div svg:hover path {
  fill: #FF6F61;
}

.hover:hover {
  cursor: pointer;
}

.color-parrafo-dark {
  color: rgba(255, 255, 255, 0.368627451);
}

.color-parrafo-light {
  color: rgba(0, 0, 0, 0.5098039216);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 2rem;
}

.error-input {
  border: 1px solid red;
}

.icon-nav {
  width: 35px;
}

.icon-nav:hover {
  transform: scale(1.2);
}

nav {
  height: 15vh;
  width: 100%;
}
nav section {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav section a,
nav section #logo {
  text-decoration: none;
}
nav section #logo:hover {
  font-weight: 900;
  transform: scale(1.1);
}
nav section #logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
nav section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  list-style: none;
}
nav section ul li a {
  text-decoration: none;
  position: relative;
}
nav section ul li a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FF6F61;
  z-index: 1;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
nav section ul li a:hover {
  cursor: pointer;
  font-weight: 900;
}
nav section ul li a:hover::before {
  transform: scale(1);
}
nav section ul li:hover {
  transform: scale(1.2);
}
nav section ul .icon-nav:hover svg path {
  fill: #FF6F61;
}

header {
  width: 100%;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
header #header-top {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header #header-top .imagen-container {
  max-width: 400px;
}
header #header-top .imagen-container img {
  width: 90%;
  height: 100%;
  border-radius: 20px;
}
header #header-top #header-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
header #header-top #header-container h2 {
  color: #FF6F61;
}
header #header-top #header-container p {
  line-height: 28px;
}
header #header-top #header-container #header-text-techs {
  width: 100%;
  min-height: 200px;
  margin: 1rem 0;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
header #header-top #header-container #header-text-techs .card-techs {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header #header-top #header-container #header-text-techs .card-techs:hover svg path {
  fill: #FF6F61 !important;
}
header #header-top #header-container #header-text-techs .card-techs:hover span {
  color: #FF6F61 !important;
}
header #header-top #header-container #header-text-techs .card-techs svg {
  height: 4rem;
}
header #header-top #header-container #header-text-techs .card-techs svg path {
  fill: grey;
}
header #header-top #header-container #header-text-techs .card-techs span {
  color: grey;
}
header #header-top #header-container #header-buttons {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header #header-top #header-container #header-buttons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}
header #header-bottom {
  width: 100%;
  height: 20%;
}

.imagen-portfolio-light {
  box-shadow: 0px 0px 10px 3px black;
}

.imagen-portfolio-dark {
  box-shadow: 0px 0px 10px 3px white;
}

#experience {
  width: 100%;
  min-height: 80vh;
}
#experience h4 {
  position: relative;
  display: inline-block;
}
#experience h4::before {
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 4px;
  background: #FF6F61;
  z-index: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
#experience #experience-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#experience #experience-container .experience-card {
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 1.5rem;
}
#experience #experience-container .experience-card h3 {
  padding: 1rem 0;
  font-size: 1.5rem;
}
#experience #experience-container .experience-card .experience-card-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#experience #experience-container .experience-card .experience-card-top div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#experience #experience-container .experience-card .experience-card-top div span {
  background-color: #FF6F61;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}
#experience #experience-container .experience-card .experience-card-top p {
  font-weight: 200;
}
#experience #experience-container .experience-card .experience-card-middle h5 {
  font-size: 1.3rem;
  padding: 1rem 0;
  font-weight: 400;
}
#experience #experience-container .experience-card .experience-card-middle ul {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}
#experience #experience-container .experience-card .experience-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
#experience #experience-container .experience-card .experience-card-bottom p {
  font-size: 1.3rem;
  font-weight: 400;
}
#experience #experience-container .experience-card .experience-card-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  height: auto;
}
#experience #experience-container .experience-card .experience-card-bottom div span {
  text-align: center;
  border-radius: 10px;
  border: 1px solid #FF6F61;
  padding: 0.5rem 1rem;
  font-size: 15px;
  transition: all 0.1s ease-in-out;
  user-select: none;
}
#experience #experience-container .experience-card .experience-card-bottom div span:hover {
  background-color: #FF6F61;
}

.card-black {
  border: 1px solid white;
}

.card-light {
  border: 1px solid black;
}

#projects {
  width: 100%;
  min-height: 80vh;
}
#projects h4 {
  position: relative;
  display: inline-block;
}
#projects h4::before {
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 4px;
  background: #FF6F61;
  z-index: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
#projects #projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(510px, 1fr));
  place-items: center;
  gap: 2rem;
}
#projects #projects-container #project-card {
  position: relative;
  width: 100%;
  height: 400px;
}
#projects #projects-container #project-card:hover #project-card_description {
  opacity: 1;
  visibility: visible;
}
#projects #projects-container #project-card img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: filter 0.2s ease-in-out;
}
#projects #projects-container #project-card #project-card_description {
  opacity: 0;
  visibility: hidden;
  transition: opacity visibility 0.2s ease-in-out;
}
#projects #projects-container #project-card #project-card_description #project-card_description_links {
  width: 90%;
  height: 20%;
  position: absolute;
  top: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}
#projects #projects-container #project-card #project-card_description #project-card_description_links a {
  text-decoration: none;
}
#projects #projects-container #project-card #project-card_description #project-card_description_links a svg {
  color: #FF6F61;
}
#projects #projects-container #project-card #project-card_description #project-card_description_information {
  width: 90%;
  height: 80%;
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin: 0 2rem;
  gap: 0.5rem;
}
#projects #projects-container #project-card #project-card_description #project-card_description_information #project-card_description_information_techs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
}

#contacto {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: white;
}
#contacto h4 {
  position: relative;
  display: inline-block;
}
#contacto h4::before {
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 4px;
  background: #FF6F61;
  z-index: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
#contacto #contacto-container {
  display: flex;
  width: 100%;
  height: 80%;
}
#contacto #contacto-container #contacto-left, #contacto #contacto-container #contacto-right {
  width: 50%;
  height: 100%;
}
#contacto #contacto-left #contacto-container-rrhh {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  font-style: italic;
}
#contacto #contacto-left #contacto-container-rrhh .card-rrhh {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  gap: 2rem;
  align-items: center;
  padding: 1rem 3rem;
  transition: all 0.3s ease;
  text-decoration: none;
}
#contacto #contacto-left #contacto-container-rrhh .card-rrhh svg {
  height: 5rem;
  flex-shrink: 0;
}
#contacto #contacto-left #contacto-container-rrhh .card-rrhh:nth-child(1):hover {
  background-color: #d93d34;
}
#contacto #contacto-left #contacto-container-rrhh .card-rrhh:nth-child(2):hover {
  background-color: #0a66c2;
}
#contacto #contacto-left #contacto-container-rrhh .card-rrhh:nth-child(3):hover {
  background-color: #7b11f8;
}
#contacto #contacto-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contacto #contacto-right img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.card-rrhh-light {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
.card-rrhh-light svg path {
  fill: black;
}

.card-rrhh-black {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.card-rrhh-black svg path {
  fill: white;
}

footer {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-top: 2px solid #FF6F61;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0 1.5rem;
  }
  nav section ul {
    display: none;
  }
  #header {
    margin-top: 15px;
  }
  #header #header-top {
    flex-direction: column;
  }
  #header #header-top .imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header #header-top #header-container {
    align-items: center;
    width: 100%;
  }
  #header #header-top #header-container #header-buttons {
    width: 100%;
  }
  #header h1 {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  #header h1 span {
    font-size: 2.8rem;
  }
  #contacto {
    align-items: center;
  }
  #contacto h4 {
    width: 100%;
    text-align: center;
  }
  #contacto #contacto-container #contacto-left {
    width: 100%;
  }
  #contacto #contacto-container #contacto-left h4 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  #contacto #contacto-container #contacto-left #contacto-container-rrhh .card-rrhh {
    height: 3rem;
    gap: 0;
    padding: 1rem;
  }
  #contacto #contacto-container #contacto-right {
    display: none;
  }
  #projects h4 {
    width: 100%;
    text-align: center;
  }
  #projects #projects-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  #projects #projects-container #project-card #project-card_description #project-card_description_information #project-card_description_information_techs {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }
  #experience h4 {
    width: 100%;
    text-align: center;
  }
  .btn-project {
    width: 90px;
  }
  #menu ul {
    height: 10%;
    font-size: 1.5rem;
  }
  .modal .modal_container {
    width: 350px !important;
  }
  .menu {
    display: flex;
    cursor: pointer;
  }
}
@media (max-width: 500px) {
  #header div {
    max-width: 300px;
  }
}
.modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  display: none;
  position: absolute;
  z-index: 99;
}
.modal .modal_container {
  width: 500px;
  height: 200px;
  position: relative;
  margin-bottom: 14rem;
  border-radius: 15px;
  gap: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal .modal_container p {
  text-align: center;
  font-size: 1.5rem;
}
.modal .modal_container .close-modal {
  position: absolute;
  top: 4px;
  right: 8px;
  cursor: pointer;
}

.is-open {
  display: flex;
}

.modal-light {
  background-color: rgba(0, 0, 0, 0.6901960784);
}
.modal-light .modal_container {
  background-color: white;
}
.modal-light .modal_container p {
  color: black;
}

.modal-dark {
  background-color: rgba(255, 255, 255, 0.6901960784);
}
.modal-dark .modal_container {
  background-color: #0c1022;
}
.modal-dark .modal_container p {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
