@media (max-width:768px) {
    .container{
        margin: 0;
        padding: 0 1.5rem;
    }
    nav {
        section {
            ul {
                display: none;
            }
        }
    }

    #header {
        margin-top: 15px;
        #header-top{
            flex-direction: column;
            .imagen-container{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #header-container{
                align-items: center;
                width: 100%;
                #header-buttons {
                    width: 100%;
                }
            }
        }
        h1 {
            font-size: 2.5rem;
            width: 100%;
            text-align: center;
            margin: 1rem 0;

            span {
                font-size: 2.8rem;
            }
        }

        
           
    }

    #contacto{
        align-items: center;
        h4{
            width: 100%;
            text-align: center;
        }
        #contacto-container{
        #contacto-left{
            width: 100%;
            h4{
                text-align: center;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
            #contacto-container-rrhh{
                .card-rrhh{
                    gap: 0;
                    padding: 1rem;
                    svg{
                        height: 3rem;
                    }
                }
            }
        }
        #contacto-right {
                display: none;
        }
        }
    }

    #projects {
        h4{
            width: 100%;
            text-align: center;
        }
        #projects-container {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

            #project-card {
                #project-card_description {
                    #project-card_description_information {
                        #project-card_description_information_techs {
                            grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
                        }
                    }
                }
            }
        }
    }
    #experience{
        h4{
            width: 100%;
            text-align: center;
        }
    }
    .btn-project {
        width: 90px;
    }
    #menu {
        ul {
            height: 10%;
            font-size: 1.5rem;
        }
    }

    .modal {
        .modal_container {
            width: 350px !important;
        }
    }

    .menu {
        display: flex;
        cursor: pointer;
    }
}

@media(max-width:500px){
    #header{
        div{
            max-width: 300px;
        }
    }
}