#tech-stack {
    width: 100%;
    min-height: 60vh;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #tech-stack_technologies {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        place-items: center;
        gap: 1rem;

        #tech-card-dark {
            width: 120px;
            height: 120px;
            border: 1px solid white;
            border-radius: 10px;
            box-shadow: 0px 0px 3px white;
            @include flex(column, center, center);
            gap: 5px;

            span {
                text-align: center;
            }
        }

        #tech-card-light {
            width: 120px;
            height: 120px;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 0px 0px 3px black;
            @include flex(column, center, center);
            gap: 5px;

            span {
                text-align: center;
            }
        }
    }
}